.table{
  display: table;
  border: 2px solid #48aae6;
  margin: 50px;
}
.table-cell{
  display: table-cell;
  width: 50px;
  height: 50px;
  background-color: #48aae6;
  border: 2px solid #fff;
  position: relative;
}
.table-row{
  display: table-row;
}
.table-row-btn{
  background-color: #fff;
}
.table-cell-btn{
  background-color: #fff;
}
.btn{
  display: inline-block;
  border: 2px solid #48aae6;
  width: 115px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px #48aae6;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}
